{{ $context := .}}

<section class="programme-video-container">
  {{ with $context.Params.video_magnet }}
    {{ $webTorrentJS := resources.Get "js/webtorrent.min.js" }}
    {{ $swJS := resources.Get "js/sw.min.js" }}

    <video></video>

    <script type="module">
      import WebTorrent from 'https://esm.sh/webtorrent'

      const client = new WebTorrent()
      const torrentId = '{{ . }}'
      const player = document.querySelector('video')
      console.log('Torrent:', torrentId.slice(0, 40) + '...')

      function download () {
        client.add(torrentId, torrent => {
          const file = torrent.files.find(file => file.name.endsWith('.mp4'))

          file.on('stream', ({ stream, file, req }) => {
            if (req.destination === 'video') {
              console.log(`Video player requested data from ${file.name}! Ranges: ${req.headers.range}`)
            }
          })

          // Stream to a <video> element by providing an the DOM element
          file.streamTo(player)
          console.log('Ready to play!')
        })
      }

      navigator.serviceWorker.register('{{ $swJS.RelPermalink }}', { scope: './' })
        .then(reg => {
          function checkState (worker) {
            return (
              worker.state === 'activated' &&
              client.createServer({ controller: reg }) &&
              download()
            )
          }
          const worker = reg.active || reg.waiting || reg.installing
          if (!checkState(worker)) {
            worker.addEventListener('statechange', ({ target }) => checkState(target))
          }
        })
    </script>

  {{ end }}
</section>
